.container{
    position: relative;
}

.second_main{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.coverup{
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: fill;
    background: linear-gradient(rgba(14, 15, 31, 0) 0%, rgba(14, 15, 31, 0) 100%);
    box-shadow: 10px 10px #0a0b20;
    z-index: 5;
}

.gradient_top{
    position: absolute;
    width: 100%;
    height: 7rem;
    top: -3rem;
    background: linear-gradient(rgba(14, 15, 31, 0) 0%, rgb(12, 10, 32) 43.23%, rgba(14, 15, 31, 0) 100%);
    z-index: 3;
}

.coverup img{
    position: absolute;
    width: 100%;
    height: 35vh;
    z-index: 5;
    object-fit: cover;
}

.coverup video{
    position: absolute;
    width: 100%;
    height: 40vh;
    bottom: -5%;
    z-index: 2;
    mix-blend-mode: lighten;
}

.coverup #dustIMG{
    position: absolute;
    width: 100%;
    z-index: 4;
    opacity: 100%;
}

.coverup #largeStar{
    position: absolute;
    width: 20%;
    height: 20vh;
    right: 40%;
    top: 30%;
    object-fit: contain;
    z-index: 6;
}

.coverup #smallStar{
    position: absolute;
    width: 20%;
    height: 20vh;
    right: 25%;
    top: 30%;
    object-fit: contain;
    z-index: 6;
}

.container .text{
    padding: 20px;
    width: 75%;
    background-color: black;
    margin-top: 15px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: beige;
    z-index: 5;
}

.text i{
    padding: 0 10px;
    color: rgba(234,113,46,1);
    font-size: 16px;
}
