.second_main{
    position: relative;
    display: flex;
    justify-content: center;
    height: 30vh;
    background: linear-gradient(rgb(0, 0, 45) 80%, rgb(173, 166, 166));
    box-shadow: 0 0 30px 30px rgb(0, 0, 45);
    /* rgba(234,113,46,1) */
}

.text{
    height: 75px;
    width: 1100px;
    background-color: black;
    font-size: 11px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: beige;
    top: 10%;
}

.text i{
    padding: 0 10px;
    color: rgba(234,113,46,1);
    font-size: 16px;
}
