.AllCards {
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.mainDiv {
    position: absolute;
    background-color: black;
    top: 155%;
}

.theContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px 150px;
}

.theText {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textContainer {
    z-index: 100;
    color: white;
    font-size: 40px;
}

.oneButton {
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.oneButton button {
    background-color: #E87953;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}