.AllCards{
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.mainDiv{
    position: absolute;
    background-color: black;
    top: 155%;
}

.theContainer{
    /* margin-left: 50px;
    margin-right: 50px; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px 220px;
}

.theText{
    width: 100%;
    display: flex;
    justify-content: center;
}

.textContainer{
    z-index: 100;
    color: white;
    font-size: 40px;
}